---
layout: default
---
<div class="home">
  <h1 class="page-heading">about</h1>
  <p>Hey!  I'm Dominick, a Software Engineer at Uptake in Chicago.  This blog started on Jan 1, 2017, with an ambitious goal of writing 5 posts per week.  Each post would represent something I learned that day. </p>
  <p>That year has now passed...<a href="/review/2017/12/30/standard-in-2017-review.html">see how it turned out!</a></p>
  <p>I'm still posting new content just not on that regular cadence.</p>
  <p>Credit to the folks at Hashrocket and their blog, <a href="http://til.hashrocket.com/"><i>Today I Learned</i></a>, for the inspiration for starting this site.</p>
  <p>Find me:</p>
  <ul>
    <li><a href="https://www.linkedin.com/in/dominick-lombardo-chcg">linkedin</a></li>
    <li><a href="https://github.com/lombardo-chcg">github</a></li>
  </ul>
  <hr>
  <br>
  <h1 class="page-heading">site stats</h1>

  <h4 style="margin-top:1.5em;">
    total posts
    <ul><li id="postCount"></li></ul>
  </h4>

  <h4 style="margin-top:1.5em;">
    average post length
    <ul><li><span id="averagePostLength"></span> words</li></ul>
  </h4>

  <h4 style="margin-top:1.5em;">
    top 10 post subjects
    <ul id="mostCommonSubjects"></ul>
  </h4>
</div>

<script>
  window.StatsStore = [
    {% for post in site.posts %}
      {
        title: "{{ post.title | xml_escape }}".toLowerCase(),
        categories: "{{ post.categories | xml_escape }}".toLowerCase(),
        tags: "{{ post.tags | xml_escape }}".toLowerCase(),
        excerpt: {{ post.excerpt | strip_html | strip_newlines | jsonify }}.toLowerCase(),
        content: {{ post.content | strip_html | strip_newlines | jsonify }}.toLowerCase(),
      },
    {% endfor %}
  ]
</script>
<script src="/js/stats.js"></script>
